#testerButton {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 35px;

  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-top-left-radius: 7px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#testerButton:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

#testerWindow {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30vw;
  height: 60vh;

  border: 2px solid #ccc;
  border-top-left-radius: 7px;
  background-color: #f8f8f8;

  padding: 3px 8px 3px 8px;
}

#testerWindow a#minimize {
  float: right;
  margin-bottom: 8px;
}

#testerWindow a:hover {
  cursor: pointer;
}

#testerWindow textarea {
  height: 43%;
  font-family: Consolas, 'Courier New';
}

#testerWindow pre {
  width: 100%;
  height: 43%;
}

#testerWindow button {
  margin-top: 0px;
  margin-right: 8px;
}